<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Reply Spy</title>
  </head>
  <body>
    <div class="errorBox">
      <p class="errorText">
      <strong>@<%-results%></strong><%-explanation%>
      </p>
      <a href="/">Return to homepage</a>
  </body>
</html>
